html, body{
    background-color: white;
    background-attachment: fixed;
    background-image: url(https://wallpaperaccess.com/full/2031901.jpg);
    background-size: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    justify-content: center;

}

.container {
    border-radius: 18px;
    align-items: center;
    display: grid;
    justify-content: center;
    position: fixed;
    gap: 5px;
    grid-template-columns: auto auto;
}


    .userInfo{
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        gap: 16px;
        position: relative;
    }


    .inputInfo{
        display: grid;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        grid-template-columns: auto;
        gap: 20px;
    }

    input{
        border-color: rgba(43, 38, 38, 0.078);
        background-color: transparent;
    }

    .spanMessage{
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    #btn{
        background-color: rgb(211, 185, 159);
        padding: 7px 13px 7px 13px;
        border-radius: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;

    }

        .button{
            align-items: center;
            display: grid;
            justify-content: center;
            width: 100%;
        }

        